
{% extends 'base.html.twig' %}

{% block title %}
new Article
{% endblock %}

{% block body %}
    <h1> Upload an article to donate </h1>
    {{include('pins/_form.html.twig', {'submitButtonText':'Create Article'})}}
{% endblock %}			