
{% extends 'base.html.twig' %}

{% block title %}
new Article
{% endblock %}

{% block body %}
    <h1> Upload an article to donate </h1>
    {{form_start(form)}}
            {{form_widget(form)}}
            <input type="submit" value="create Article" formnovalidate>
    {{form_end(form)}}
{% endblock %}			