{% extends 'layouts/base.html.twig' %}

{% block title 'Edit*' ~ pin.title %}


{% block body %}
    <h1> Edit {{pin.title}} </h1>
   {{include('pins/_form.html.twig', {'submitButtonText':'Update Article'}) }}
{% endblock %}			